* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    perspective: 600px;
}

a {
    text-decoration: none;
}

nav {
    width: 100%;
    height: 35px;
    display: flex;
    font-size: 13px;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid black;
    background-color: rgb(170, 140, 66);
}

nav a {
    color: white;
}

nav ul li {
    position: relative;
    list-style-type: none;
    display: inline-block;
    margin: auto 10px;
}

nav ul {
    margin: auto 100px;
}

nav .fa-brands:hover {
    transform: rotateY(180deg);
    color: #59AC77;
}


nav>ul>li::after,
nav>ul>li::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 0;
    background-color: #47865e;
    transition: 0.5s;
}

nav>ul>li::after {
    left: -10px;
    bottom: 0;
}

nav>ul>li::before {
    right: -10px;
    top: 0;
}

nav>ul>li:hover::after,
nav>ul>li:hover::before {
    height: 100%;
}

/* -------------------first row in website------------------------------------- */
header {
    position: relative;
    width: 100%;
    height: 75px;
    padding: 20px;
    display: flex;
    font-size: 20px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;

}
.logo{
    display: flex;
    align-items: center;
}
.logo span {
    color: #28a054;
    margin-left: -25px;
    font-size: 25px
}
header a {
    color: black;
}

header ul li {
    list-style-type: none;
    display: inline-block;
    margin: auto 5px;
}

.icons {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 20px;
}

.icons a:hover i {
    color: #59AC77;
}

.shop {
    position: relative;
}

.shop:hover span {
    transform: translateY(-3px);
}

.shop span {
    position: absolute;
    top: -14px;
    right: 1px;
    background-color: #59AC77;
    font-size: 14px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shop span a {
    color: #fff;
}

.dropdown h3 {
    position: relative;
    margin: 10px 0;
}

.dropdown h3::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -4px;
    width: 40%;
    height: 2px;
    background-color: black;
}

.drop {
    position: relative;
}

.dropdown {
    margin-left: -100px;
    margin-top: 10px;
    width: 320px;
    height: 200px;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    transform: scale(0);
    position: absolute;
    background-color: rgb(106, 206, 151);
    gap: 10px;
    transition: 1s;
    z-index: 2;

}

.dropdown ul li {
    display: block;
    margin: 8px 0;

}

.dropdown ul li a:hover {
    color: #59AC77;

}

.dropdown ul li:hover {
    transform: scale(1.1);
}

.drop:hover .dropdown {
    transform: scale(1);
}

.menu .item {
    position: relative;
    margin-left: 15px;
    padding: 10px 5px;
}

.menu>.item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #59AC77;
    border-left: transparent;
    border-right: transparent;
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.5s;
}

.menu>.item:hover::after {
    transform: scaleX(1);
}

.menu>.item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #59AC77;
    border-top: transparent;
    border-bottom: transparent;
    transform: scaley(0);
    transform-origin: left;
    transition: 0.5s;
}

.menu>.item:hover::before {
    transform: scaley(1);
}

/* ------------------------header----------------------- */
.saleup {
    width: 100%;
    height: 45px;
    background-color: #407a55;
    padding: 10px;
}

.saleup .sal1 {
    color: white;
    top: 15px;
}

.saleup {
    text-align: center;
}

.saleup .sal2 a {
    color: rgb(204, 143, 64);
}

.sal2 {
    position: relative;
    transition: .5s;
}

.sal2::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: rgb(219, 158, 79);
}

.sal2:hover {
    letter-spacing: 3px;
}

/* ------------------saleup--------------- */
main {
    position: relative;
    width: 100%;
    height: 90vh;
    margin-bottom: 30px;
}
.main-bk{
    /* position: absolute; */
    width: 100%;
    min-height: 100%;
    background: url(../images/19.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
h1 {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    color: black;

}

.fs {
    position: absolute;
    width: 450px;
    height: 87vh;
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: white;
    margin-top: 40px;
}

.btn1 {
    border: 0;
    padding: 20px;
    background-color: rgb(218, 173, 61);
    font-size: 18px;
    transition: .5s;
}

.btn1 a {
    color: white;
}

.btn1:hover a {
    color: black;
}

.btn1:hover {
    background-color: white;
}

/* -------------------------------main-------------------- */
.sec2 {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 50px;
}

.h23 {
    font-size: 30px;
}

.container1 {
    height: 400px;
    overflow: hidden;
}

.img1 {
    background-size: cover;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
}

.h32 {
    position: absolute;
    bottom: 15px;
    color: black;
    transition: 0.7s;
}

.overlay1 {
    position: absolute;
    bottom: 50px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s;

}

.overlay1 a {
    color: rgb(207, 131, 32);
    opacity: 0;
    transform: translateY(40px);
    transition: 0.5s linear;
}

.overlay1 a::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: burlywood;
}

.container1:hover .img1 {
    transform: scale(1.2);
}

.container1:hover .h32 {
    bottom: 50px;
}

.container1:hover .overlay1 a {
    opacity: 1;
    transform: translateY(0);
}

/* ---------------------------section2-------------------- */
.sec3 {
    width: 100%;
    height: 100vh;
    margin-bottom: 30px;
}

.tw {
    width: 100%;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 50px;
    padding-bottom: 30px;
    gap: 240px;
}

.tw::after {
    position: absolute;
    content: "";
    left: 7.5%;
    right: 7.5%;
    bottom: -2px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.233);
}

.tw2 .li1 a {
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 25px;
}

.li1 a::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 8px;
    left: 0;
    bottom: -38px;
    border-bottom: transparent;
}

.tw2 li {
    list-style-type: none;
    display: inline-block;
    margin-left: 10px;
}

.li2 a {
    position: relative;
    color: #28a054;
    font-size: 25px;
}

.li2 a::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 8px;
    left: 0;
    bottom: -38px;
    background-color: #59AC77;

}

.cards {
    position: relative;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card {
    position: relative;
    width: 250px;
    height: 480px;
    perspective: 1000px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 90%;
}

.front img,
.back img {
    width: 100%;
    height: 90%;
}

.back {
    transform: rotateY(180deg);
    opacity: 0;
    transition: transform 1s ease;
    backface-visibility: hidden;
}

.card:hover .back {
    transform: rotateY(0deg);
    opacity: 1;
    transition: 1s ease;
}

.icon3 {
    position: absolute;
    opacity: 0;
    display: flex;
    flex-direction: row;
    margin-top: 270px;
    transition: 1s ease;
    transform: translatex(30%);
}

.card:hover .icon3 {
    opacity: 1;
    transition: 1s ease;
}

.icon3 a {
    color: black;
}

.icon3 i {
    background-color: white;
    margin: 50px 0;
    font-size: 30px;
    padding: 10px;
    opacity: 0;
}

.icon3 i:hover {
    background-color: goldenrod;
    color: white;
}

.card:hover i {
    opacity: 1;
}

.sec3 .arrow {
    width: 30px;
    height: 380px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow a {
    color: black;
    opacity: 0.5;
}

.arrow:hover a {
    opacity: 1;
}

.card32 {
    margin-top: 400px;
}

.card33 span,
.card33 del {
    font-size: 20px;
    color: black;
    opacity: 0.5;
}

.card33 {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card32,
.card33 {
    text-align: center;
}

.card:hover .h35 a {
    color: goldenrod;
}

.card:hover .card33 span {
    opacity: 1;
}

/* --------------------------------section3----------------------- */
.sec4 {
    width: 100%;
    height: 70vh;
    background-color: #68c78b;
    position: relative;
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.37);
    border-top: 2px solid rgba(0, 0, 0, 0.37);
}

.container41 {
    width: 700px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
}

.container41 p {
    font-size: 20px;
    line-height: 40px;
    margin: 30px 0;
}

.arrow1 {
    margin-left: -1000px;
}

.arrow2 {
    margin-right: -1000px;
}

.sec4 .arrow {
    position: absolute;
    font-size: 40px;
}

.sec4 img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.container42 {
    position: relative;
    display: flex;
    margin-left: -160px;
}

.container43 {
    width: 150px;
    position: absolute;
    margin-left: 100px;
    margin-top: 10px;
    line-height: 30px;
}

.container41 p,
.span4 {
    color: black;
    opacity: 0.5;
}

/* ----------------------------section4--------------------- */
.sec5 {
    margin-bottom: 50px;
}

.sec5 .arrow {
    width: 30px;
    height: 380px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.tw5 {
    width: 100%;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 60px;
}

.h25 {
    font-size: 40px;
    /* opacity: .8; */
}

.card5 {
    position: relative;
    width: 300px;
    height: 480px;
    overflow: hidden;
}

.front5 img {
    z-index: 2;
}

.overlay img {
    width: 100%;
    height: 110%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    opacity: 0;
    transition: 0.8s ease;
}

.card5:hover .overlay {
    height: 76%;
    opacity: 1;
}

.icon35 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 0;
    margin-top: -110px;
    transition: 0.8s ease;
}

.icon35 a {
    color: black;
}

.icon35 i {
    background-color: white;
    margin: 50px 0;
    font-size: 30px;
    padding: 10px;
    gap: 0;
    opacity: 0;
    transition: 1s;
}

.icon35 i:hover {
    background-color: goldenrod;
    color: white;
    transition: 1s;
}

.card5:hover i {
    opacity: 1;
}

.h35 a {
    color: black;
}

.card5:hover .h35 a {
    color: goldenrod;
}

.card325 {
    margin-top: 10px;
}

.card325,
.card335 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card335 span,
.card335 del {
    color: black;
    opacity: 0.5;
    font-size: 20px;
    margin-top: 10px;
}

.card5:hover .card335 span {
    opacity: 1;
}

/* -----------------------------------section5------------------------ */
.sec6 {
    position: relative;
    width: 100%;
    padding: 60px 0;
    background-color: rgba(120, 218, 164, 0.747);
    border-bottom: 2px solid rgba(0, 0, 0, 0.404);
    border-top: 2px solid rgba(0, 0, 0, 0.404);
}

.h26 {
    margin-top: 5px;
    font-size: 40px;
}

.cards6 {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-evenly;

}

.card6 {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.img6 {
    width: 300px;
    height: 300px;
    overflow: hidden;
}

.img6 img {
    width: 100%;
    transition: transform 0.5s ease;
}

.img6:hover img {
    transform: scale(1.2);
}

.card6 span,
.card6 p {
    color: black;
    opacity: 0.5;
}

.a6 {
    font-size: 25px;
    color: white;
    text-decoration: underline;
}

.h46 a {
    color: black;
    font-size: 25px;
}

.card6 p {
    line-height: 30px;
    font-size: 16px;
}

.card6:hover .h46 a {
    color: rgb(192, 158, 72);
}

/* ------------------section6------------------------ */
.sec7 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: 100px auto;

}

.all7 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.icon7 .fa-solid {
    font-size: 50px;
}

.icon7 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

.icon17 {
    color: black;
    opacity: 0.5;
}

.icon27 {
    color: goldenrod;
    position: absolute;
    opacity: 0;
    transform: translateY(150%);
}

.icon7:hover .icon17 {
    transform: translateY(-300%);
    transition: 0.5s;

}

.icon7:hover .icon27 {
    opacity: 1;
    transform: translateY(0);
    transition: 0.5s;

}

.h57 {
    font-size: 20px;
    font-weight: bold;
}

/* ----------------------------section7--------------------- */
footer {
    width: 100%;
    height: 90vh;
    background-color:#90e0ae;
}

.top-footer {
    position: relative;
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    gap: 10px;
}

.top-footer::after {
    position: absolute;
    content: "";
    left: 7.5%;
    right: 7%;
    bottom: -2px;
    height: 1px;
    background-color: white;
}

.head8 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input8 input {
    font-size: 18px;
    width: 400px;
    height: 60px;
    padding: 10px;

}

.btn8 {
    color: white;
    font-size: 20px;
    background-color: goldenrod;
    padding: 18px;
    border: 0;
    margin-left: 5px;
}

.btn8:hover {
    transform: scale(1.1);
}

.input8 input:focus {
    outline: none;
}

.icon8 a {
    color: grey;

}

.icon8 {
    font-size: 25px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.icon8 i:hover {
    color: white;
    transform: scale(1.2);
}

.middle-footer {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    padding: 70px;
    color: white;
    gap: 90px;
}
.logo8 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: -180px;
}
.logo8 span{
    font-size: 25px;
    font-weight: bold;
    margin-left: -20px;
}
.middle-footer h6,
.top-footer h6 {
    font-size: 25px;
}

.middle-footer a {
    color: grey;
}

.middle-footer ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.middle-footer::after {
    position: absolute;
    content: "";
    left: 7.5%;
    right: 7%;
    bottom: -2px;
    height: 1px;
    background-color: white;
}

.middle-footer li {
    list-style-type: none;
    transition: 0.5s ease;
}

.middle-footer li:hover {
    transform: scale(1.1);
    text-decoration: underline;
    transition: 0.5s ease;
}

.bottom-footer {
    display: flex;
    justify-content: center;
    color: white;
    padding: 30px;

}

.bottom-footer i {
    animation-name: change;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    margin: auto 10px;
}

@keyframes change {
    from {
        color: black;
        transform: scale(1);
    }

    to {
        color: goldenrod;
        transform: scale(1.5);
    }
}

.bottom-footer a {
    color: goldenrod;
    padding: 0 10px;

}

.bottom-footer a:hover {
    letter-spacing: 1px;
    text-decoration: underline;
}